<!--  Menu -->
<mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="submenu">
      <span><mat-icon>tab</mat-icon> FrontEnd </span> 
  </button>
  <button mat-menu-item>
      <span><mat-icon>store</mat-icon> BackEnd </span>
  </button>
</mat-menu>

<button mat-flat-button [matMenuTriggerFor]="appMenu">
  Menu</button>

<!--  Theory for Menu
  Menu is created using mat-menu element with buttons and buttons are attributed
  mat-menu-item and then it is triggered by default. In order for it trigger,

  we have to create a button mat-flat-button with [matMenuTriggerFor] and 
  then it is binded with appMenu, which is template reference variable for menu-menu

-->

<!-- Nested Menu  -->

<mat-menu #submenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>Reactive</button>
  <button mat-menu-item>Vue</button>
</mat-menu>

<!--  Theory for Submenu
  Another mat-menu can be defined and given template reference variable
  and bind it to #submenu="matMenu"
  To trigger the submenu, we need to bind it to the menu-item in main menu
  using [matMenuTriggerFor]="submenu" on the menu-item, which you want to use
  for triggering
  We can position the menu's xPosition and yPosition, refer above.
-->

<!--Before we can click on the menu, all the choices and submenus will be set
It will be problematic when doing the dynamic rendering, 
To help with the dynamic rendering of menu items, we can use lazy loading
Here to render the data dynamically, we use ng-template with matMenuContet attribute
I have created mat-menu along with buttons to trigger them
In order to pass the data dynamically, we use the databinding 
[matMenuTriggerData] property and then we pass object to it

[matMenuTriggerData]="{name: 'Sri', hobby: 'Coding'}"

In order to receive it, we create local variables let-name and let-hobby
and then bind them with name and hobby 
let-name="name" let-hobby="hobby"

We can use interpolation inside the mat-menu-item, to display them like below
-->

<mat-menu #lazyMenu="matMenu">
    <ng-template matMenuContent let-name="name" let-hobby="hobby">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Hobby is {{hobby}}</button>
      <button mat-menu-item>Logout {{name}}</button>
    </ng-template>
</mat-menu>
  
  <button mat-raised-button [matMenuTriggerData]="{name: 'Sri', hobby: 'Coding'}" [matMenuTriggerFor]="lazyMenu">
      Srinivas
  </button>

  <button mat-raised-button [matMenuTriggerData]="{name: 'Vasu', hobby: 'Reading'}" [matMenuTriggerFor]="lazyMenu">
      Srivasu
  </button>




