body {
    margin: 20px;
}

button {
    margin-right: 2rem;
}

mat-grid-tile {
    background-color: lightblue;
}

mat-grid-list {
    margin: 10px;
}

mat-expansion-panel {
    background-color: lavender;
}